NEXT_PUBLIC_SUPABASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""
FB_PAGE_ACCESS_TOKEN=""
ADMIN_FB_PSID=""
NEXT_PUBLIC_FB_PAGE_ID=""
NEXT_PUBLIC_FB_PAGE_USERNAME=""
NEXT_PUBLIC_BANK_ID="MB"
NEXT_PUBLIC_BANK_ACCOUNT_NO=""
NEXT_PUBLIC_BANK_ACCOUNT_NAME=""
NEXT_PUBLIC_ADMIN_PIN="123456"
